//Variables
$mainColor: #0b0b0b;
$secondColor: #f5c518;
$color: #0B0B09;
$lightFont: #0b0b09d0;
$headline: 'Goudy Bookletter 1911',
serif;
$letterSpacing: 1.5px;
$lineHeight:1.8;
$fontSize: 1rem;
$width: 100%;
$height: 100%;
$space: 50px 0;
$width: 90%;
$transition: all 0.3s ease-in-out;

// Global Designs
html,
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: $color;
    content-visibility: auto;
}
* {text-transform: capitalize;}

*::selection {background-color: rgb(146, 146, 146);color: $color;}

/* Thescroll handle */
::-webkit-scrollbar {width: 10px;}

::-webkit-scrollbar-track {background: #e2dfdf;}

/* Handle */
::-webkit-scrollbar-thumb {background: rgb(68, 68, 68);border-radius: 20px;}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: $mainColor;}

// The Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

// Start The Header
//To Top Button
.to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: $mainColor;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    cursor: pointer;

    &.go {opacity: 1;pointer-events: all;}

    &:hover {
        a {margin-top: -3px;}
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        width: 100%;
        height: $height;
    }
}

header {

    /* Navbar Design */
    nav {
        height: 10vh;
        width: 100%;
        position: relative;
        z-index: 20;
        text-transform: capitalize;
        letter-spacing: $letterSpacing;

        /* Logo design */
        .logo {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(-5%, -50%);
            cursor: pointer;
            font-family: $headline;

            h1 {
                a {
                    color: $color;
                    font-weight: 500;
                    text-decoration: none;
                    letter-spacing: $letterSpacing + 5px;
                    text-transform: uppercase;
                    font-size: $fontSize + 0.8;
                }
            }
        }

        /* The List Design */
        .links {
            display: flex;
            justify-content: space-around;
            align-items: center;
            -webkit-gap: 10px;
            -moz-gap: 10px;
            -ms-gap: 10px;
            -o-gap: 10px;
            gap: 10px;
            height: 10vh;
            width: 70%;
            list-style: none;
            margin-left: auto;

            //transition: $transition;
            li {
                font-size: $fontSize;
                padding: 2px;
                border-top: 2px solid transparent;
                padding: 7px;
                transition: $transition;

                &:hover {
                    padding: 7px;
                    border-radius: 0px;
                    border-top: 2px solid $color;
                }

                a {color: $color;text-decoration: none;}
            }
        }
    }

    .banner {
        text-transform: uppercase;

        .carousel {
            .carousel-inner {
                .carousel-item {
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: linear-gradient(100deg, #0b0b09fd 45%, transparent);
                    }

                    .carousel-caption {
                        transform: translateY(-10%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        top: 15%;
                        left: 2%;
                        width: 45%;

                        h3 {
                            font-size: $fontSize + 3;
                            letter-spacing: $letterSpacing + 5;
                            text-transform: uppercase;
                            font-weight: 900;
                        }

                        p {
                            font-size: $fontSize;
                            letter-spacing: $letterSpacing;
                            line-height: $lineHeight;
                        }

                        .rate {
                            margin: 30px auto;
                            font-weight: 900;
                            font-size: $fontSize + 2;

                            i {color: $secondColor;}

                            .s-rate {
                                color: #e2dfdf;
                                font-size: $fontSize;
                            }
                        }

                        .btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 180px;
                            height: 52px;
                            letter-spacing: $letterSpacing + 2px;
                            color: $color;

                            i {
                                font-size: $fontSize + 0.5;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

}
.art-1,
.art-2 {
    padding: $space;
    background: url(../images/the-broken-hearts-gallery.jpg) center no-repeat fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #0b0b0977;
        z-index: 0;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        img {
            margin: auto;
            box-shadow: 3px 3px 40px rgba(238, 238, 238, 0.74),
                -3px -3px 40px rgba(238, 238, 238, 0.74);
        }

        a {
            color: rgb(255, 255, 255);
            font-size: $fontSize + 0.5;
            letter-spacing: $letterSpacing;
            margin: 10px auto;
        }
    }

    .content {
        h2 {
            font-size: $fontSize + 2;
            line-height: $lineHeight;
            letter-spacing: $letterSpacing;
            font-family: $headline;
            font-weight: 550;

            span {
                font-size: $fontSize;
                font-family: 'popins';
            }
        }

        .rate {
            margin: 30px auto;
            font-weight: 900;
            font-size: $fontSize + 3;
            letter-spacing: $letterSpacing;

            i {color: $secondColor;}

            .s-rate {color: #e2dfdf;font-size: $fontSize;}
        }

        h3 {
            line-height: $lineHeight;
            letter-spacing: $letterSpacing;
            text-transform: uppercase;
        }

        p {
            line-height: $lineHeight;
            letter-spacing: $letterSpacing;
            text-transform: none;
        }

        img {
            margin: 5px;
            cursor: pointer;
            transition: $transition;

            &:hover {transform: scale(0.9);}
        }

        button {margin: 30px auto;}
    }
}

.art-2 {
    background: url(../images/revolutionary_road_cover.jpg) center no-repeat fixed;
    background-size: cover;
    color: rgb(255, 255, 255);

    .image {
        img {width: 80%;}
    }
}

.new {
    padding: $space;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        .row {

            .movie-card-1,
            .movie-card-2,
            .movie-card-3,
            .movie-card-4,
            .movie-card-5,
            .movie-card-6,
            .movie-card-7,
            .movie-card-8 {
                height: 400px;
                width: $width / 4;
                margin: 20px 1% 105px 1%;
                float: left;
                position: relative;
                transition: $transition;

                &:hover {
                    box-shadow: 1px 1px 8px $color;

                    .front {
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background: #0b0b0977;
                        }

                        .content {
                            i {opacity: 1;pointer-events: all;}
                        }
                    }

                    .back {transform: translateY(105px);}
                }

                .front {
                    background: url(../images/new1.jpg) center no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: $transition;
                    z-index: 2;

                    .content {
                        z-index: 2;

                        i {
                            width: 60px;
                            height: 60px;
                            color: #FFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 2rem;
                            padding: 5px;
                            border: 2px solid #FFF;
                            border-radius: 50%;
                            cursor: pointer;
                            pointer-events: none;
                            transition: $transition;
                            opacity: 0;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }

                .back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background: #57575793;
                    z-index: 1;
                    transition: $transition;
                    text-align: center;
                    color: #FFF;

                    .content {
                        position: absolute;
                        bottom: 0;

                        .rate {
                            margin: 5px auto;
                            font-weight: 900;
                            font-size: $fontSize + 0.2;
                            letter-spacing: $letterSpacing;

                            i {color: $secondColor;}

                            .s-rate {color: #e2dfdf;font-size: $fontSize - 0.2;}
                        }

                        p {
                            line-height: $lineHeight;
                            letter-spacing: $letterSpacing - 1;
                            text-transform: none;
                            font-size: $fontSize - 0.3;
                        }
                    }
                }
            }

            .movie-card-2 {
                width: $width / 4;

                .front {
                    background: url(../images/new2.jpg) center no-repeat;
                    background-size: cover;
                }
            }

            .movie-card-3 {
                width: $width / 4;

                .front {
                    background: url(../images/new3.jpg) center no-repeat;
                    background-size: cover;
                }
            }

            .movie-card-4 {
                width: $width / 4;

                .front {
                    background: url(../images/new4.jpg) center no-repeat;
                    background-size: cover;
                }
            }

            .movie-card-5 {
                width: $width / 4;

                .front {
                    background: url(../images/new5.png) center no-repeat;
                    background-size: cover;
                }
            }

            .movie-card-6 {
                width: $width / 4;

                .front {
                    background: url(../images/new6.png) center no-repeat;
                    background-size: cover;
                }
            }

            .movie-card-7 {
                width: $width / 4;

                .front {
                    background: url(../images/new7.jpg) center no-repeat;
                    background-size: cover;
                }
            }

            .movie-card-8 {
                width: $width / 4;

                .front {
                    background: url(../images/new8.png) center no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}

.second-slider {
    h2 {
        letter-spacing: $letterSpacing;
        line-height: $lineHeight;
        font-family: $headline;
    }

    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .card {
                .rate {
                    margin: 5px auto;
                    font-weight: 900;
                    font-size: $fontSize + 1;
                    letter-spacing: $letterSpacing;

                    i {color: $secondColor;}

                    .s-rate {
                        color: $color;
                        font-size: $fontSize - 0.2;
                    }
                }
            }
        }
    }
}

form {
    padding: $space;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $space;
        input {
            width: 50%;
            height: 42px;
            caret-color: #e7c33e;
            padding-left: 10px;
            font-size: $fontSize;
            letter-spacing: $letterSpacing;
            color: $color;
            z-index: 0;
            border: none;
            border-top: 2px solid #e7c33e;
            border-left: 2px solid #e7c33e;
            border-bottom: 2px solid #e7c33e;

            &:focus {outline: none;}
        }

        .btn {
            width: 10%;
            height: 42px;
            border-radius: 0;
            margin-left: -2px;
            z-index: 0;
            background-color: #e7c33e;
            color: #ffffff;

            &:focus {box-shadow: none;}
        }
    }
}

footer {
    padding: $space;

    .part-1 {
        margin: 15px auto;
        line-height: $lineHeight;
        letter-spacing: $letterSpacing;

        img {width: 35px;}

        .span {font-size: $fontSize + 0.3;}

        h2 {
            display: inline-block;
            margin: 20px auto;
            font-family: $headline;
        }

        p {color: $lightFont;}

        i {
            transition: all 0.3s ease-in-out;
            font-size: $fontSize + 1;
            margin: 10px 10px 10px 0;
            color: $lightFont;

            &:hover {color: $color;}
        }
    }

    .part-2,
    .part-3,
    .part-4 {
        p {a {color: $lightFont;padding: 5px;}}
    }

    h6 {padding: 30px 0;}
}

// Media Queries
@media (max-width:768px) {
    header {
        nav {
            .logo {font-size: 70% !important}

            .burger {
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translate(-5%, -50%);
                z-index: 2;
                cursor: pointer;

                & > div {
                    width: 25px;
                    height: 2px;
                    margin: 5px;
                    background-color: $mainColor;
                    transition: $transition
                }
            }

            .links {
                &.active {
                    -webkit-clip-path: circle(155vh at 100% 10px);
                    -moz-clip-path: circle(155vh at 100% 10px);
                    -ms-clip-path: circle(155vh at 100% 10px);
                    -o-clip-path: circle(155vh at 100% 10px);
                    clip-path: circle(155vh at 100% 10px);
                    pointer-events: all;
                }

                position: absolute;
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                background-color: rgb(238, 236, 232);
                clip-path: circle(10vh at 95% -10%);
                transition: all 0.8s ease-in-out;
                pointer-events: none;

                .home {
                    z-index: 0;

                    a {color: $mainColo}

                    &:hover {
                        border-top: 2px solid $mainColor;
                        transform: translateY(5px);
                    }
                }

                li {
                    opacity: 0;
                    margin-right: 10%;
                    transition: $transition;

                    &.fade {opacity: 1}

                    a {
                        font-size: 1.2rem;
                        color: $color;
                        transition: all 0.3s ease-in-out;
                    }
                }

                .order-now {margin-left: 0;}
            }

            /* The 'X' button design */
            .toggle {
                .line1 {
                    transform: rotate(-45deg) translate(-4px, 6px);
                    transition: transform 0.5s ease-in-out;
                }

                .line2 {
                    opacity: 0;
                    transition: transform 0.5s ease-in-out;
                }

                .line3 {
                    transform: rotate(45deg) translate(-4px, -6px);
                    transition: transform 0.5s ease-in-out;
                }
            }
        }

        .banner {
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        .carousel-caption {
                            width: 65%;

                            h3 {
                                font-size: $fontSize + 2;
                                letter-spacing: $letterSpacing + 1;
                            }

                            p {
                                font-size: $fontSize - 0.2;
                                letter-spacing: $letterSpacing;
                                line-height: $lineHeight;
                            }

                            .rate {
                                margin: 5px auto;
                                font-size: $fontSize + 2;
                            }

                            .btn {
                                letter-spacing: $letterSpacing - 1;
                                font-size: $fontSize + 0.3;

                                i {font-size: $fontSize + 0.3;}
                            }
                        }
                    }
                }
            }
        }
    }

    .art-1,
    .art-2 {
        font-size: 80%;

        .content {
            text-align: center;

            h2 {font-size: $fontSize + 1;margin-top: 60px;}
        }
    }

    .new {

        .movie-card-1,
        .movie-card-2,
        .movie-card-3,
        .movie-card-4,
        .movie-card-5,
        .movie-card-6,
        .movie-card-7,
        .movie-card-8 {
            margin: 10px auto 105px auto !important;
            width: $width / 2 !important;
        }
    }
}

@media (max-width: 550px) {
    header {
        nav .logo h1 a {font-size: $fontSize + 0.5 !important;}

        .banner {
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        .carousel-caption {
                            padding: 50px 0;
                            transform: translateY(0%);

                            h3 {font-size: $fontSize + 0.4}

                            p {
                                font-size: $fontSize - 0.5;
                                letter-spacing: $letterSpacing - 0.2;
                                line-height: $lineHeight;
                            }

                            .rate {margin-bottom: 10px;font-size: $fontSize + 0.4;}

                            .btn {
                                width: 110px;
                                height: 27px;
                                color: $color;
                                letter-spacing: 0;
                                font-size: $fontSize - 0.2;
                                i {font-size: $fontSize;}
                            }
                        }
                    }
                }
            }
        }
    }

    .new {

        .movie-card-1,
        .movie-card-2,
        .movie-card-3,
        .movie-card-4,
        .movie-card-5,
        .movie-card-6,
        .movie-card-7,
        .movie-card-8 {width: $width !important;}
    }
}

// Samsung Fold Media
@media (max-width: 320px) {
    header {
        .banner {
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        .carousel-caption {
                            transform: translateY(0%);
                            width: 65%;

                            h3 {font-size: $fontSize - 0.1;}

                            p {
                                font-size: $fontSize - 0.6;
                                letter-spacing: $letterSpacing - 0.5;
                                line-height: $lineHeight - 0.3;
                            }

                            .rate {margin-bottom: 10px;font-size: $fontSize}

                            .btn {
                                width: 90px;
                                height: 27px;
                                color: $color;
                                letter-spacing: 0;
                                font-size: $fontSize - 0.4;

                                i {font-size: $fontSize - 0.4;}
                            }
                        }
                    }
                }
            }
        }
    }
}
// Done El7amdullah